<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Import</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="header-title">Import detail</h4>
                        <p class="sub-header">
                            from your Import table.
                        </p>
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-6 text-sm-center form-inline">
                                    

                                    <div class="form-group">
                                        <form action="?title=">
                                            <input id="demo-input-search2" type="text" placeholder="Search by ID"
                                            class="form-control" name="title" value=""autocomplete="off">
                                            <button class="-outline-success my-2 my-sm-0 btn btn-primary" type="submit">
                                                <i class="fa fa-search mr-2"></i>
                                                <span> Tìm kiếm </span>
                                            </button>
                                        </form>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="mb-2 mt-2 d-flex justify-content-between">
                            <a href="/bill/print/{{ct_pm.MAPM}}" class="waves-effect d-flex align-items-center">
                                <i class='fas fa-print'></i>
                                <span> Download </span>
                            </a>
                            <div class=" text-sm-center form-inline">
                                        <span class="font-weight-bold">Mã khách hàng: &nbsp;</span> 
                                        <span>{{ct_pm.MAKH}}</span>
                            </div>
                            <div class=" text-sm-center form-inline">
                                        <span class="font-weight-bold">Ngày nhập: &nbsp;</span> 
                                        <span>{{ct_pm.NGAYMUA}}</span>
                            </div>
                            <div class="mb-2 mt-2">
                                <a href = "/accounts/{{ct_pm.MANV}}/edit" class="btn-link my-2 my-sm-0 btn btn-primary" >
                                    <i class="fa fa-user mr-2"></i>
                                    <span> Thông tin nhân viên nhập </span>
                                </a>
                            </div>
                        </div>
                        <table id="demo-foo-addrow"
                            class="table table-centered table-striped table-bordered mb-0 toggle-circle"
                            data-page-size="7">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Books</th>
                                    <th>Category</th>
                                    <th>Number</th>
                                    <th>Price</th>
                                    <th>Book detail</th> 
                                </tr>
                            </thead>
                            <tbody>
                                {{#each books}}
                                <tr>
                                    <td>{{this.MASACH}}</td>
                                    <td>{{this.TENSACH}}</td>
                                    <td>{{this.THELOAI}}</td>
                                    <td>{{this.SL}}</td>
                                    <td>{{this.GIA}}</td>
                                    <td>
                                        <a href="products/update/{{this.masach}}" class="edit btn btn-link">
                                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        {{!-- Pagination --}}
                        <div style="margin-top: 30px ">
                            <ul class="pagination justify-content-end">
                                {{#each Items}}
                                <li class="page-item{{#if cur}} active{{/if}}"><a class="page-link"
                                        href="?title={{../title}}&&page={{item}}">{{item}}</a></li>
                                {{/each}}
                            </ul>
                        </div>

                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- content -->

    </div>


    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


    {{!-- model delete --}}
    <div class="modal fade" id="delete-book-modals">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="true">&times;</button>
                </div>
                <div class="modal-body">
                    Bạn có thật sự muốn xóa ?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-delete-book" class="btn-delete-book btn btn-primary btn-danger">Xóa bỏ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>


    {{!-- end model delete --}}






    <form name="form-delete-books" method="POST"></form>

    <script>
        var deleteForm = document.forms['form-delete-books']
        var deleteBtns = Array.from(document.getElementsByClassName('delete-btns')); // lấy tất cả các button delete dưới dạng mảng
        var deleteConfirm = document.querySelector('.btn-delete-book')
        for (const deleteBtn of deleteBtns) {
            deleteBtn.onclick = function (e) {
                var book = this.getAttribute('data-bookid')// khi onclick vào button xóa của khóa học nào thì sẽ nhận được id của khóa học đó
                deleteConfirm.onclick = function (e) {  // sau đó click vào button confirm xóa để 
                    deleteForm.action = `/products/${book}/del?_method=DELETE`; // truyền  url chứa id của từng khóa học vào action và với method DELETE
                    deleteForm.submit(); // và submit form .
                }
            }
    
        }
    </script>