<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Product Table</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="header-title">Edit Product</h4>
                        <p class="sub-header">
                            from your Product Table.
                        </p>
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-12 text-sm-center form-inline">
                                    <div class="form-group mr-2">
                                        <a href="#addProductModal" data-toggle="modal">
                                            <button class="btn btn-primary">
                                                <i class="mdi mdi-plus-circle mr-2"></i>
                                                <span>Add Product</span>
                                            </button>
                                        </a>
                                    </div>

                                    <div class="form-group">
                                        <form action="?title=">
                                            <input id="demo-input-search2" type="text" placeholder="Search"
                                            class="form-control" name="title" value=""autocomplete="off">
                                            <button class="-outline-success my-2 my-sm-0" type="submit">Tìm</button>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table id="demo-foo-addrow"
                            class="table table-centered table-striped table-bordered mb-0 toggle-circle"
                            data-page-size="7">
                            <thead>
                                <tr>

                                    <th>ID</th>
                                    <th>Author</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>atCreated</th>
                                    <th rowspan="2">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                <tr>
                                    <td>{{this.masach}}</td>
                                    <td>{{this.tacgia}}</td>
                                    <td>{{this.tensach}}</td>
                                    <td>{{this.gia}}</td>
                                    <td>{{this.atCreated}}</td>
                                    <td>
                                        <a href="products/update/{{this.masach}}" class="edit btn btn-link">
                                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                        </a>

                                        <a href="#delete-book-modals" class="delete-btns btn btn-link" data-toggle="modal"
                                            data-bookId="{{this.masach}}" data-target="#delete-book-modals">
                                            <i class="material-icons " data-toggle="tooltip" title="delete">&#xe872;</i>
                                        </a>


                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        {{!-- Pagination --}}
                        <div style="margin-top: 30px ">
                            <ul class="pagination justify-content-end">
                                {{#each Items}}
                                <li class="page-item{{#if cur}} active{{/if}}"><a class="page-link"
                                        href="?page={{item}}">{{item}}</a></li>
                                {{/each}}
                            </ul>
                        </div>

                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- content -->

    </div>


    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

    <!-- Form Add product -->
    <div id="addProductModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="products/store" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Product</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Tên Sách</label>
                            <input type="text" class="form-control" name="tensach" required>
                        </div>
                        <div class="form-group">
                            <label>Tác giả</label>
                            <input type="text" class="form-control" name="tacgia" required>
                        </div>
                        <div class="form-group">
                            <label>Ngày xuất bản</label>
                            <select class="form-control" id="NXB" name="manxb">
                                {{#each NXB}}
                                <option value="{{this.manxb}}">{{this.Ten}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Ngày xuất bản</label>
                            <input type="date" class="form-control" name="ngayXB" required>
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            <textarea class="form-control" cols="86" rows="10" placeholder="Mô tả truyện" name="MOTA"
                                id="des"></textarea>
                        </div>

                        <div class="form-group mt-3">
                            <label for="des">Thể Loại</label>
                            <div class="container" style="border : 1px solid; ">
                                <div class="row p-2 ">
                                    {{#each Theloai}}
                                    <div class="form-check col-3 align-self-center">
                                        <input class="form-check-input" type="checkbox" name="category"
                                            value="{{this.maTL}}" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            {{this.tenTL}}
                                        </label>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                            <div class="form-group-3">
                                <label>Giá</label>
                                <input type="number" class="form-control" name="gia" required>
                            </div>
                            <div class="form-group">
                                <label>Ảnh</label><br>
                                <input type="file" name="image" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="Add">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Form add product -->

    {{!-- model delete --}}
    <div class="modal fade" id="delete-book-modals">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="true">&times;</button>
                </div>
                <div class="modal-body">
                    Bạn có thật sự muốn xóa ?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-delete-book" class="btn-delete-book btn btn-primary btn-danger">Xóa bỏ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>


    {{!-- end model delete --}}






    <form name="form-delete-books" method="POST"></form>

    <script>
        var deleteForm = document.forms['form-delete-books']
        var deleteBtns = Array.from(document.getElementsByClassName('delete-btns')); // lấy tất cả các button delete dưới dạng mảng
        var deleteConfirm = document.querySelector('.btn-delete-book')
        for (const deleteBtn of deleteBtns) {
            deleteBtn.onclick = function (e) {
                var book = this.getAttribute('data-bookid')// khi onclick vào button xóa của khóa học nào thì sẽ nhận được id của khóa học đó
                deleteConfirm.onclick = function (e) {  // sau đó click vào button confirm xóa để 
                    deleteForm.action = `/products/${book}/del?_method=DELETE`; // truyền  url chứa id của từng khóa học vào action và với method DELETE
                    deleteForm.submit(); // và submit form .
                }
            }
    
        }
    </script>