<div class="content-page">
	<div class="content">
		<div class="container">
			<div class="book-information">
				<nav class="navbar navbar-light bg-light">
				<form action =""  class="form-inline">
					<input class="form-control mr-sm-2" type="search" name="title" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
				</form>
				</nav>


				<div class="mt-4">
				<div class="row">
					{{#each products}}

					<div class="col-sm-6 col-lg-4" style = "margin-bottom: 20px;">
								<a href="products/update/{{this.masach}}">
					<div class="card" style=" height:100%">
						<div class="card-top">
						<img src="{{this.IMAGE}}" class="card-img-top" alt="{{this.tensach}}" style="overflow: hidden; object-fit: contain;" width="300" height="400" />
						</div>

						<div class="card-body">
							<div class="card-title">
							<h4>
								{{this.tensach}}
							</h4>
							</div>
							<p class="card-text">{{this.gia}}</p>
							<p class="card-text"></p>
						</div>
						<div class="card-footer">
							<a href="cart/add/{{../user.LOAINV}}/{{this.masach}}" class="btn btn-primary">Add to cart</a>
						</div>
						</div>
					</a>
					</div>


					{{/each}}

				</div>
				</div>
				
							<div style="margin-top: 30px " >
								<ul class="pagination justify-content-end">
									{{#each Items}}
									<li class="page-item{{#if cur}} active{{/if}}"><a class="page-link"
											href="?title={{../title}}&&page={{item}}">{{item}}</a></li>
									{{/each}}
								</ul>
                        	</div>

	</div> <!-- content -->
</div>
			<!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->