<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Bảng Tồn Kho</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            
            {{#if amount}}
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-12 text-sm-center form-inline">

                                    <div class="form-group">
                                        <form action="?title=">
                                            <input id="demo-input-search2" type="text" placeholder="Search"
                                            class="form-control" name="title" value=""autocomplete="off">

												<span for="start">Start month:</span>
												<input type="month" id="start" name="chooseMonth" min="2018-03" value={{chooseMonth}}>
                                            <button class="-outline-success my-2 my-sm-0 btn btn-primary" type="submit">
                                                <i class="fa fa-search mr-2"></i>
                                                <span> Tìm kiếm </span>
                                            </button>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{#if this.amount}}
                        <li>
                            <a  href="/storage/print?chooseMonth={{this.chooseMonth}}" class="waves-effect">
                                <i class='fas fa-print'></i>
                                <span> Download </span>
                            </a>
                        </li>
                        {{/if}}
                        <table id="demo-foo-addrow"
                            class="table table-centered table-striped table-bordered mb-0 toggle-circle"
                            data-page-size="7">
                            <thead>
                                <tr>

                                    <th>ID Mã sách</th>
                                    <th>Số lượng đầu</th>
                                    <th>Số lượng cuối</th>
                                    <th>Tổng nhập </th>
									<th>Tổng xuất </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each storageBook}}
                                <tr>
                                    <td>{{this.masach}}</td>
                                    <td>{{this.SLDau}}</td>
                                    <td>{{this.SLCuoi}}</td>
                                    <td>{{this.Tongnhap}}</td>
									<td>{{this.Tongxuat}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        {{!-- Pagination --}}
                        <div style="margin-top: 30px ">
                            <ul class="pagination justify-content-end">
                                {{#each Items}}
                                <li class="page-item{{#if cur}} active{{/if}}"><a class="page-link"
                                        href="?title={{../title}}&&chooseMonth={{this.chooseMonth}}&&page={{item}}">{{item}}</a></li>
                                {{/each}}
                            </ul>
                        </div>

                    </div> <!-- end card-box -->
                  
                </div> <!-- end col -->
            </div>
            {{else}}
                        <h1>không tồn tại</h1>
            {{/if}}
            <!-- end row -->

        </div> <!-- content -->

    </div>


    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->












