<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Account Table</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="header-title">Edit Account Admin</h4>
                        <p class="sub-header">
                            from your Account Table.
                        </p>
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-12 text-sm-center form-inline">
                                    <div class="form-group mr-2">
                                        <a href="#addAdminModal" data-toggle="modal">
                                            <button class="btn btn-primary">
                                                <i class="mdi mdi-plus-circle mr-2"></i>
                                                <span>Add Account</span>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="form-group mr-2">
                                        <a href="/accounts/recyclebin">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-recycle mr-2"></i>
                                                <span> Recycle Bin ({{counter}}) </span>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="form-group">
                                        <form action="" >
                                            <input id="demo-input-search2" type="text" placeholder="Search"
                                                class="form-control" name="title">
                                            <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-search mr-2"></i>
                                                    <span> Tìm kiếm </span>
                                            </button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {{#if message}}<h4 style="color: red; margin-left: 10px">{{message}}</h4>{{/if}}
                            </div>
                        </div>

                        <table id="demo-foo-addrow"
                            class="table table-centered table-striped table-bordered mb-0 toggle-circle"
                            data-page-size="7">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>User</th>
                                    <th>Full name</th>
                                    <th>Email</th>
                                    <th>Number phone</th>
                                    <th rowspan="2">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each accounts}}
                                <tr>
                                    <td>{{this.MANV}}</td>
                                    <td>{{this.USER}}</td>
                                    <td>{{this.HOTEN}}</td>
                                    <td>{{this.EMAIL}}</td>
                                    <td>{{this.SDT}}</td>
                                    <td>
                                        <a href="/accounts/{{this.MANV}}/edit" class="edit btn btn-link">
                                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                        </a>
                                        <a href="#reset-account-modals" class="reset-btns btn btn-link"
                                            data-toggle="modal" data-accountId="{{this.MANV}}"
                                            data-target="#reset-account-modals">
                                            <i class="material-icons " data-toggle="tooltip" title="reset passwword">&#xe8b8;</i>
                                        </a>
                                        <a href="#delete-account-modals" class="delete-btns btn btn-link"
                                            data-toggle="modal" data-accountId="{{this.MANV}}"
                                            data-target="#delete-account-modals">
                                            <i class="material-icons " data-toggle="tooltip" title="delete">&#xe872;</i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        {{!-- Pagination --}}
                        <div style="margin-top: 30px ">
                            <ul class="pagination justify-content-end">
                                {{#each Items}}
                                <li class="page-item{{#if cur}} active{{/if}}"><a class="page-link"
                                        href="/accounts?title={{../title}}&&page={{item}}">{{item}}</a></li>
                                {{/each}}
                            </ul>
                        </div>

                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
    {{!-- model delete --}}
    <div class="modal fade" id="delete-account-modals">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="true">&times;</button>
                </div>
                <div class="modal-body">
                    Bạn có thật sự muốn xóa ?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-delete-account"
                        class="btn-delete-account btn btn-primary btn-danger">Xóa bỏ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>


    {{!-- model reset --}}
    <div class="modal fade" id="reset-account-modals">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="true">&times;</button>
                </div>
                <div class="modal-body">
                    Bạn có muốn reset mật khẩu không?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-reset-account"
                        class="btn-reset-account btn btn-primary btn-danger">Có</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Form Add admin account -->
    <div id="addAdminModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="/accounts/add" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Add account</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group">
                                <label for="LOAINV">Account Type</label>
                                <select class="form-select" name="LOAINV">
                                    <option selected value="emp">Employee</option>
                                    <option value="mag">Manager</option>
                                    <option value="adm">Admin</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="username">User name</label>
                                <input class="form-control" type="user" name="USER" required
                                    placeholder="Enter user name">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control password" type="password" required id="password" name="PASS"
                                    placeholder="Enter your password" onkeyup="checkPass()">
                            </div>
                            <div class="form-group">
                                <label for="password">RePassword</label>
                                <input class="form-control password" type="password" required id="password2"
                                    name="REPASS" placeholder="Enter your password again" onkeyup="checkPass()">
                                <span id="confirmMessage" class="confirmMessage"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" onclick="visibility()">
                                <label>Show password</label>
                            </div>
                            <div class="form-group">
                                <label for="username">Name</label>
                                <input class="form-control" type="text" name="HOTEN" required placeholder="Enter name">
                            </div>
                            <div class="form-group">
                                <label for="PHAI">Sex</label><br>
                                <select class="form-select" name="PHAI">
                                    <option selected value="NAM">male </option>
                                    <option value="NU">female </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="username">Birth date</label>
                                <input class="form-control" type="date" name="NGAYSINH" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Images avatar</label>
                                <input class="form-control" type="file" name="image" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Address</label>
                                <input class="form-control" type="text" name="DIACHI" required
                                    placeholder="Enter user Address">
                            </div>
                            <div class="form-group">
                                <label for="username">Email</label>
                                <input class="form-control" type="text" name="EMAIL" required
                                    placeholder="Enter user Email">
                            </div>
                            <div class="form-group">
                                <label for="username">Citizen identity card</label>
                                <input class="form-control" type="text" name="CCCD" required
                                    placeholder="Enter user CIC">
                            </div>
                            <div class="form-group">
                                <label for="username">Number phone</label>
                                <input class="form-control" type="text" name="SDT" required
                                    placeholder="Enter user Number phone">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Form add admin account -->

    <form name="form-delete-accounts" method="POST"></form>
    <form name="form-reset-accounts" method="POST"></form>

    <script>
        function visibility() {
            let x = document.getElementsByClassName("password");
            if (x[0].type === "password") {
                x[0].type = "text";
                x[1].type = "text";
            } else {
                x[0].type = "password";
                x[1].type = "password";
            }
        }

        var deleteForm = document.forms['form-delete-accounts']
        var deleteBtns = Array.from(document.getElementsByClassName('delete-btns')); // lấy tất cả các button delete dưới dạng mảng
        var deleteConfirm = document.querySelector('.btn-delete-account')
        for (const deleteBtn of deleteBtns) {
            deleteBtn.onclick = function (e) {
                var account = this.getAttribute('data-accountid')// khi onclick vào button xóa của khóa học nào thì sẽ nhận được id của khóa học đó
                deleteConfirm.onclick = function (e) {  // sau đó click vào button confirm xóa để 
                    deleteForm.action = `/accounts/${account}/del?_method=DELETE`; // truyền  url chứa id của từng khóa học vào action và với method DELETE
                    deleteForm.submit(); // và submit form .
                }
            }
        }
 
        var resetForm = document.forms['form-reset-accounts']
        var resetBtns = Array.from(document.getElementsByClassName('reset-btns')); // lấy tất cả các button reset dưới dạng mảng
        var resetConfirm = document.querySelector('.btn-reset-account')
        for (const resetBtn of resetBtns) {
            resetBtn.onclick = function (e) {
                var account = this.getAttribute('data-accountid')// khi onclick vào button xóa của khóa học nào thì sẽ nhận được id của khóa học đó
                resetConfirm.onclick = function (e) {  // sau đó click vào button confirm xóa để 
                    resetForm.action = `/accounts/${account}/reset?_method=POST`; // truyền  url chứa id của từng khóa học vào action và với method reset
                    resetForm.submit(); // và submit form .
                }
            }
        }
 
 
 
 
 
 
 
 
    </script>
    <script src="/js/re-enterPw.js"></script>
    {{!-- end model reset --}}